.hidden {
  display: none;
}

.button {
  float: right;
}

.jumbotron {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(172, 107, 9);
  background-color: black;
}




