.hidden {
  display: none;
}

.button {
  float: right;
  padding: 5% 10%;
}

.jumbotron {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(172, 107, 9);
  background-color: black;
}

.display-5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  color: rgb(172, 107, 9);
}




